a {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #f5f5f5;
    text-align: center;
    font-family: sans-serif;
}

main {
    flex: 1px;
    background-color: #2e2e22;
    border-radius: 20px;
}

h1 {
    background-color: #3a3a3a;
    display: center;
    font-size: 55px;
    font-family: 'Arial Narrow';
    border-radius:5px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 1px;
}

h2 {
    font-style: italic;
}

nav {
    background-color: #2b2b2b;
    font-size: 20px;
}

footer {
    background-color: #2b2b2b;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 2px;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #cccccc;
}

main ul {
    display: flex;
    font-size: 20;
    font-family: sans-serif;
    font-style: normal;
    align-items: center;
    gap: 20px;
}
    
.img1 {
    text-align: center ;
    position: relative;
}

.img1 p {
   margin-top: 1px;
}

.img2 {
    text-align: center ;
    position: relative;
}

.img2 p {
   margin-top: 4px;
}

.img3 {
    text-align: center ;
    position: relative;
}

.img3 p {
   margin-top: 8px;
}

#tituloprincipal {
    text-align: center;
}

table {
    margin-left: 400px;
    margin-right: 400px;
}

.dados1 {
   margin-left: 30px;
}

.dados2 {
   margin-left: 250px;
}

.dados3 {
    margin-left: 300px;
}

td img {
    width: 70px;
}

label {
    color: #87cefa;
}

textarea {
    text-align: center;
}

button {
    background-color: #444444;
    border-radius: 5px;
}

input {
    font-family: Arial, Helvetica, sans-serif;
}
